:root {}

body {
  display: flex;
  flex-direction: column;
}

header {}

#header-img {
  max-width: 200px;
  height: auto;
  align-self: center;
}

#nav-bar {
  align-self: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 250, 116);
  overflow: hidden;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#nav-bar-links {
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#nav-bar-links-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar-links-list li {

}

#nav-bar-links-list li a {
  color: rgb(255, 255, 255);
  background-color: #000000cc;
  padding: 8px 16px;
  margin:  5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 600;
}

#nav-bar-links-list li a:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

h1,
p {
  display: flex;
  justify-content: center;
}

.feature {
  display: flex;
}

.feature-img {
  width: 75px;
  height: auto;
  align-self: center;
}