:root {
  --main-color: rgb(255, 250, 116);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

header {}

#header-img {
  max-width: 200px;
  height: auto;
  align-self: center;
}

#nav-bar {
  align-self: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
  overflow: hidden;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav-bar-links {
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#nav-bar-links-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: rgb(255, 255, 255);
  background-color: #000000cc;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 500;
}

.nav-link:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1,
p {
  display: flex;
  justify-content: center;
}

#video-container {
  display: flex;
  justify-content: center;
}

#features {
  max-width: 80%;
  padding: 25px 0;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feature-heading-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  
}

.feature-heading-description p{
  font-size: 0.85em;
  max-width: 80%;
}

.feature-img {
  width: 75px;
  height: auto;
  align-self: center;
  padding: 25px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color) ;
  height: 120px;
  width: 100%;
  padding: 20px 0;
}

#email {
  width: 250px;
  padding: 5px 0;
  border-radius: 2px;
  border-style: solid;
  border-color: aliceblue
}

#submit {
  width: 150px;
  padding: 10px 0;
  border-style: none;
}

#footer {
  display: flex;
}